In [3]:
import numpy as np
import pandas as pd

#load dataset
data = pd.read_csv('./monthlyincome.csv')

print(data)

    Name   Monthly Salary ($)
0  Kamau                 4000
1   Rose                 5000
2   Mike                 6000
3   jeff                 7000
4  Susan                 7500
5    Bob                 8000
6    Ruto            10000000

In [4]:
#mean using numpy
mean_estimate = np.mean(data['Monthly Salary ($)'].values)
print(mean_estimate)

1433928.5714285714

In [6]:
#mean using pandas
pd.data = pd.DataFrame({'f1': data['Monthly Salary ($)']})
mean = pd.data.f1.mean()
print(mean)

1433928.5714285714

In [7]:
#median using numpy
median_estimate = np.median(data['Monthly Salary ($)'])
print(median_estimate)

7000.0

In [13]:
#median using pandas
pd_median_data = pd.DataFrame({'f1': data['Monthly Salary ($)']})
median = pd_median_data.f1.median()
print(median)

7000.0

In [14]:
sample_pd = pd.DataFrame(['cat', 'cat', 'parrot'])
print(sample_pd.mode())

     0
0  cat

In [15]:
#population variance
# ddof = denominator
Population_Variance = np.var(data['Monthly Salary ($)'], ddof = 0)
print(Population_Variance)

12229598316326.531

In [16]:
#sample variance
Sample_Variance = np.var(data['Monthly Salary ($)'], ddof = 1)
print(Sample_Variance)

14267864702380.953

In [17]:
#standard deviation (in layman 'square root')
sample_std_dev = np.std(data['Monthly Salary ($)'], ddof = 1)
print(sample_std_dev)

3777282.714118835

In [18]:
max_value = np.max(data['Monthly Salary ($)'])
print(max_value)

min_value = np.min(data['Monthly Salary ($)'])
print(min_value)

10000000
4000

In [19]:
data.describe()

       Monthly Salary ($)
count        7.000000e+00
mean         1.433929e+06
std          3.777283e+06
min          4.000000e+03
25%          5.500000e+03
50%          7.000000e+03
75%          7.750000e+03
max          1.000000e+07

In [20]:
#ebay laptop purchase analysis
laptop_data = pd.read_csv('./EbayPcLaptopsAndNetbooksClean.csv')
print(laptop_data)

       Brand   Price Currency  Color  \
0      other  303.80        $   gray
1       dell  400.00        $  black
2       dell  175.00        $  black
3         hp   85.00        $  black
4       dell  101.25        $  other
...      ...     ...      ...    ...
4178   other  162.20        $  other
4179    acer   93.25        $  other
4180    dell  424.80        $  black
4181      hp   90.94        $  other
4182  lenovo  567.50        $  black

                                               Features  \
0     Backlit Keyboard,  Built-in Microphone,  Built...
1     Backlit Keyboard, Bluetooth, Built-in Micropho...
2     10/100 LAN Card, Backlit Keyboard, Bluetooth, ...
3     Bluetooth, Built-in Microphone, Built-in Webca...
4     10/100 LAN Card, Built-in Microphone, Built-in...
...                                                 ...
4178                                                NaN
4179                                                NaN
4180  Touchscreen,  10/100 LAN Card,  Bluetooth,  Ba...
4181                                                NaN
4182                                                NaN

                    Condition  \
0                         New
1     Very Good - Refurbished
2                        Used
3          Good - Refurbished
4          Good - Refurbished
...                       ...
4178                      New
4179                      New
4180                     Used
4181                      New
4182                Undefined

                                  Condition Description  \
0     A brand-new, unused, unopened, undamaged item ...
1     The item shows minimal wear and is backed by a...
2     An item that has been used previously. The ite...
3     The item shows moderate wear and is backed by ...
4     The item shows moderate wear and is backed by ...
...                                                 ...
4178  A brand-new, unused, unopened, undamaged item ...
4179  A brand-new, unused, unopened, undamaged item ...
4180  An item that has been used previously. The ite...
4181  A brand-new, unused, unopened, undamaged item ...
4182                                          Undefined

                                            Seller Note    GPU  \
0                                             undefined  intel
1     aaa pcs is a microsoft authorized refurbisher ...  intel
2     well kept, fully functional, includes battery,...  intel
3     1-year allstate warranty. the original hp char...  intel
4     laptops is tested & fully working with some si...  other
...                                                 ...    ...
4178                                          undefined  other
4179                                          undefined  other
4180                                          undefined  intel
4181                                          undefined  other
4182                                          undefined  other

                         Processor  ... Height of the Display       OS  \
0                        quad core  ...                1440.0  windows
1     intel core i7 8th generation  ...                1080.0  windows
2              intel core i5-6300u  ...                1080.0  windows
3                  intel celeron n  ...                 768.0   chrome
4     intel core i5 6th generation  ...                 768.0  windows
...                            ...  ...                   ...      ...
4178                     undefined  ...                   NaN  unknown
4179                not applicable  ...                   NaN  unknown
4180  intel core i5 6th generation  ...                1080.0  windows
4181                not applicable  ...                   NaN  unknown
4182                     undefined  ...                   NaN  unknown

     Storage Type  Hard Drive Capacity  Hard Drive Capacity Unit SSD Capacity  \
0             ssd                512.0                        gb          1.0
1             ssd                  2.0                        tb          NaN
2             ssd                500.0                        gb        500.0
3            emmc                 16.0                        gb          NaN
4             ssd                  NaN                   unknown        256.0
...           ...                  ...                       ...          ...
4178      unknown                  NaN                   unknown          NaN
4179      unknown                  NaN                   unknown          NaN
4180      unknown                  NaN                   unknown        120.0
4181      unknown                  NaN                   unknown          NaN
4182      unknown                  NaN                   unknown          NaN

     SSD Capacity Unit  Screen Size (inch) Ram Size  Ram Size Unit
0                   tb                  14      8.0             gb
1              unknown                  14      NaN        unknown
2                   gb                  14     16.0             gb
3              unknown                11.6      4.0             gb
4                   gb                12.5      8.0             gb
...                ...                 ...      ...            ...
4178           unknown                 NaN      NaN        unknown
4179           unknown                 NaN      NaN        unknown
4180                gb                12.5      NaN        unknown
4181           unknown                 NaN      NaN        unknown
4182           unknown                 NaN      NaN        unknown

[4183 rows x 24 columns]

In [21]:
mean_price = np.mean(laptop_data['Price'].values)
print(mean_price)

328.130117140808

In [22]:
median_price = np.median(laptop_data['Price'])
print(median)

234.0

In [26]:
mode_price = pd.DataFrame({'f1': laptop_data['Price']})
print(mode_price.mode())

      f1
0  200.0

In [28]:
laptop_data['Price'].describe()

count    4183.000000
mean      328.130117
std       387.640478
min         4.420000
25%       100.000000
50%       234.000000
75%       413.200000
max      3900.000000
Name: Price, dtype: float64

In [29]:
laptop_population_var = np.var(laptop_data['Price'], ddof = 0)
print(laptop_population_var)

150229.21721334988

In [30]:
laptop_sample_var = np.var(laptop_data['Price'], ddof = 1)
print(laptop_sample_var)

150265.14002951758

In [32]:
laptop_standard_dev = np.std(laptop_data['Price'], ddof = 1)
print(laptop_standard_dev)

387.64047780065175

In [33]:
#coefficient of variance
coefficient_variance = np.std(laptop_data['Price']) / np.mean(laptop_data['Price']) * 100
print(coefficient_variance)
#result shows high variability to the mean. Suggest sdv is relatively high compared to the mean.
#Meaning values are widely spreadout from the mean

118.12208619712787

In [57]:
#replacing missing values in dataset
missing_values = laptop_data.isnull().sum()
#print(missing_values)
laptop_data_median = laptop_data['Features'].fillna('Field missing value')
#print(laptop_data_median)
missing_values_1 = laptop_data_median.isnull().sum()
print(missing_values_1)

0